*{
    padding: 0;
    margin: 0;
    background-color: #0f0f0f
}
.main{
    height: 92.5vh;
    width: 100%;
}
.header{
    background-color: #0f0f0f;
    height: 60px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#Menu{
    display: flex;
    background-color: transparent;
    border-radius: 50px;
    background-image: url("https://media.discordapp.net/attachments/892937609943322635/1036627174557483089/imagem_2022-10-31_100549350.png");
    background-position-x: center;
    background-position-y: center;
    margin-left: 15px;
    margin-right: 10px;
    justify-content: center;
    align-self: center; 
    height: 40px;
    width: 40px;
    cursor: pointer;
}
#Menu:hover{
    background-color: #242424;
}
#Menu:focus{
    background-color: #313131;
}
.buttonH{
    display: flex;
    background-color: rgb(4, 0, 255);
    height: 50px;
    border: 0;
    background-repeat: no-repeat;
}
#text{
    background-color: transparent;
    border: 0;
    color: white;
    height: 40px;
    width: 40vw;
    font-size: 16px;
    outline: 0;
}
.searchBar:focus-within{
    border: 1px solid #065fd4;
}
#YoutubeIcon{
    width: 120px;
    background: no-repeat;
    background-image: url("https://media.discordapp.net/attachments/892937609943322635/1037704247535484998/imagem_2022-11-03_092340889.png")
}
.searchBar{
    padding-left: 20px;
    border: 1px solid #303030;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    background-color: #121212;
    display: flex;
    height: 40px;
}
#virtualkeyboard{
    background-color: transparent;
    width: 50px;
    background-image: url("https://www.gstatic.com/inputtools/images/tia.png");
    background-position-x: center;
    background-position-y: center;
    height: 42px;
    cursor: pointer;
}
#search{
    margin-left: 0px;
    height: 42px;
    width: 60px;
    border: 1px solid #303030;
    background-color: #222222;
    background-image: url("https://media.discordapp.net/attachments/892937609943322635/1037724361462919211/unknown.png");
    background-position-x:30%;
    background-position-y: center;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    cursor: pointer;
}
#mic{
    border: 10px;
    border-radius: 50px;
    background-color: #171717;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    background-image: url("https://media.discordapp.net/attachments/892937609943322635/1038075457943392336/image.png");
    background-position-x: center;
    background-position-y: center;
    cursor: pointer;
}
#mic:hover{
    background-color: #242424;
}
#mic:focus{
    background-color: #313131;
}
#threepoints{
    width: 40px;
    height: 40px;
    border: 10px;
    border-radius: 50px;
    background-color: transparent;
    background-image: url("https://media.discordapp.net/attachments/892937609943322635/1038076073000325172/image1.png");
    background-position-x: center;
    background-position-y: center;
    cursor: pointer;
}
#threepoints:focus{
    background-color: #313131;
}
#login{
    width: 130px;
    height: 40px;
    margin-right: 30px;
    border: 1px solid #303030;
    border-radius: 35px;
    background-color: transparent;
    background-image: url("https://media.discordapp.net/attachments/892937609943322635/1038078760529973258/image.png");
    background-position-x: center;
    background-position-y: center;
    cursor: pointer;
}
#login:hover{
    background-color: #3ea5ff54;
}
#login:focus{
    background-color: #7bc1ff54;
}
#div1{
    display: flex;
    align-items: center;
}
#div2{
    display: flex;
    align-items: center;
}

#div3{
    display: flex;
    gap: 20px;
    align-items: center;
}
#search:hover{
    border-color: rgba(128, 128, 128, 0.63);
}
#search:hover{
    border-color: rgba(128, 128, 128, 0.63);
}
#MainContent{
    background-color: #0F0F0F;
    height: 100%;
    display: flex;
}
.content{
    width: 75%;
    margin-left: 4px;
}
#video{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 25px;
    flex-direction: column;
}
#incvideo{
    height: 65vh;
    width: 65vw;
}
#title{
    font-family: sans-serif;
    color: white;
    font-size: 2rem;
    margin-top: 17px;
    font-size: 18px;
    font-weight: 500;
}
#vizu{
    font-family: sans-serif;
    color: white;
    font-size: 2rem;
    margin-top: 5px;
    font-size: 14px;
    font-weight:600;
}
#channel{
    display: flex;
    margin-top: 14px;
    margin-left: 25px;
    gap: 18px;
}
#channelText{
    margin-top: 5px;
    margin-left: -5px;
    font-weight:600;
    color: #aaa;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
#channelName{
    font-family: sans-serif;
    color: white;
    text-decoration: none;
    font-size: 18px;
    white-space: nowrap;
}
#numInscritos{
    margin-top: 5px;
    white-space: nowrap;
}
#channelImg{
    border-radius: 50px;
}
#verificado{
    width: 18px;
    height: 18px;
    margin-top: 6px;
    margin-left: -15px;
}
#bottonsChannel{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
}
#membro{
    background-color: #292929;
    color: #dfdfdf;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 36px;
    font-weight: bold;
    border: 0;
    border-radius: 50px;
    width: 140px;
    height: 45px;
    cursor: pointer;
    white-space: nowrap;
}
#inscrito{
    background-color: #CC0000;
    white-space: nowrap;
    color: #dfdfdf;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 36px;
    font-weight: bold;
    border: 0;
    border-radius: 50px;
    width: 140px;
    height: 45px;
    cursor: pointer;
}
#buttonsMain{
    display: flex;
    height: 42px;
    align-items: center;
    gap: 50px;
    margin-top: 20px;
    margin-left: 25px;
}
#likedisc{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    height: 42px;
    width: 100px;
    padding-right: 20px;
    background-color: #262626;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#numlike{
    color: #dfdfdf;
    background-color: transparent;
    margin-left: -20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 36px;
    font-weight: bold;
    cursor: pointer;
    white-space: nowrap;
}
#like{
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    height: 50px;
    width: 75px;
    background-color: transparent;
    background-image: url("https://media.discordapp.net/attachments/892937609943322635/1039189233585377331/imagem_2022-11-07_114613259.png");
    border: 0;
    cursor: pointer;
}
#divbar{
    margin-left: 15px;
    height: 35px;
    width: 1px;
    background-color: #464646;
    margin-left: -52px;
}
#deslike-border{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    height: 42px;
    width: 50px;
    margin-left: -49px;
    padding-right: 20px;
    background-color: #262626;
}
#deslike{
    background-repeat: no-repeat;
    background-position-x: 17px;
    background-position-y: 10px;
    height: 50px;
    width: 50px;
    background-color: transparent;
    background-image: url("https://media.discordapp.net/attachments/892937609943322635/1039525272250228786/imagem_2022-11-07_114613259.png");
    border: 0;
    cursor: pointer;
}
#share{
    display: flex;
    margin-left: -75px;
    background-color: #262626;
    border: 0;
    border-radius: 50px;
    align-items: center;
}
#share-button{
    height: 42px;
    width: 160px;
    background-color: transparent;
    border: 0;
    background-image: url("https://media.discordapp.net/attachments/892937609943322635/1039540420360802394/imagem_2022-11-08_110156947.png");
    background-repeat: no-repeat;
    background-position-x: 17px;
    background-position-y: center;
    cursor: pointer;
}
#share-text{
    color: #dfdfdf;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 36px;
    font-weight: bold;
    margin-left: -115px;
    margin-right: 20px;
    cursor: pointer;
}
#more{
    border: 0;
    border-radius: 50px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-color: #262626;
    transform: rotate(90deg);
    background-image: url("https://media.discordapp.net/attachments/892937609943322635/1038076073000325172/image1.png");
    background-position-x: center;
    background-position-y: center;
    cursor: pointer;
    height: 42px;
    width: 42px;
    margin-left: -27px;
}
.lateralBar{
    display: flex;
    flex-direction: column;
    width: 31%;
    margin-right: 45px;
    height: fit-content;
    margin-top: 20px;
    margin-left: 10px;
}
.rec{
    height: 15%;
    width: 100%;
    margin-bottom: 20px;
}
.thumb{
    display: flex;
    min-width: 178px;
    min-height: 100px;
    background-repeat: no-repeat;
    object-fit: cover;
    border-radius: 10px;
    background-size: 178px 100px;
}
.thumb1{
    background-image: url('https://media.discordapp.net/attachments/831720527948939285/1040631349037514792/download.jpeg');
}
.thumb2{
    background-image: url('https://media.discordapp.net/attachments/831720527948939285/1040630916197912676/image.jpg');
}
.thumb3{
    background-image: url('https://media.discordapp.net/attachments/831720527948939285/1040632434674372718/image3.jpg');
}
.thumb4{
    background-image: url('https://media.discordapp.net/attachments/831720527948939285/1040632434896674867/download.jpeg');
}
.thumb5{
    background-image: url('https://media.discordapp.net/attachments/831720527948939285/1040633376857653319/image5.jpg');
}
.thumb6{
    background-image: url('https://media.discordapp.net/attachments/831720527948939285/1040633377109315634/image4.jpg');
}
.thumb7{
    background-image: url('https://i.ytimg.com/vi/3M0qJYY_Vu4/hqdefault.jpg?sqp=-oaymwEjCNACELwBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&rs=AOn4CLDCs6zrAwLjDaxjGhUWA2UjXsl3ZA');
}
.thumb8{
    background-image: url('https://i.ytimg.com/vi/OX2LuNn9QvU/hqdefault.jpg?sqp=-oaymwEjCPYBEIoBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&rs=AOn4CLCk5YnufKRauENF6kG-02-kBFow1w');
}
.thumb-disc{
    width: 60%;
    margin-left: 10px;
    white-space: nowrap;
}
.rec{
    display: flex;
    flex-direction: row;
    color: white;
    cursor: pointer;
}
.title-rec{
    color: rgb(243, 243, 243);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
}
.channel-rec{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: rgb(182, 182, 182);
    margin-top: 7px;
}
.views-rec{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: rgb(182, 182, 182);
    margin-top: 4px;
}
#music-icon{
    margin-bottom: -3px;
    margin-left: 2px;
}
@media (max-width: 1260px){
    .lateralBar{
        display: none;
    }
    .content{
        width: 100%;
    }
    #incvideo{
        width: 100%;
    }
    #video{
        width: 96%;
    }
    .main{
        background-color: #0F0F0F;
    }
}
@media (max-width: 515px){
    #incvideo{
        width: 427px;
        height: 240px;
    }
}
@media (max-width: 580px){
    #bottonsChannel{
        display: none;
    }
}
@media (max-height: 600px) and (min-width: 515px){
    #channel{
        display: none;
    }
}
@media (max-height: 440px) and (max-width: 515px){
    #channel{
        display: none;
    }
}
@media (max-height: 750px) and (min-width: 515px){
    #buttonsMain{
        display: none;
    }
}
@media (max-height: 520px) and (max-width: 515px){
    #buttonsMain{
        display: none;
    }
}
@media (max-width: 480px){
    #buttonsMain{
        display: none;
    }
}
@media (max-width: 1000px){
    #login{
        display: none;
    }
}
@media (max-width: 720px){
    #threepoints{
        display: none;
    }
}
@media (max-width: 640px){
    #mic{
        display: none;
    }
}
@media (max-width: 560px){
    #text{
        width: 25vw;
    }
}
@media (max-width: 515px) and (max-height: 440px){
    .main{
        height: 80vh;
    }
}